.hoverImg img{
    height: 10rem;
    width: 12.8rem;
    justify-content: flex-start;
    display: flex;

}

.hoverImg{
    height: 10rem;
    width: 40rem;
    justify-content: flex-start;
    display: flex;
    margin-left: 3rem;

}
