/* .img img {
    width: 45rem !important;
    display: block;
    align-items: center;
    justify-content: center;
}

.img h3 {
    margin-left: 10rem !important;;
    font-family: "Verdana", Sans-serif;
    font-weight: bold;
} */